*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#2b2bff;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    width:400px;
    background:#fff;
    padding:30px;
    border-radius:10px;
    text-align:center;
    box-shadow:0 0 15px rgba(0,0,0,.3);
}

h1{
    margin-bottom:20px;
}

input{
    width:100%;
    padding:12px;
    font-size:18px;
    margin-bottom:20px;
}

button{
    padding:10px 20px;
    font-size:16px;
    cursor:pointer;
    margin:5px;
}